
body {
    margin-right: 100px;
}
.head,hr{
    margin-left: 80px;
    margin-right: 50px;
    font-family: Arial;

}
.values{
    margin-left: 80px;
}
h1{
    margin-top: 120px;
    font-size: 60px;
}
p{
    color: #9C9C9C;
}

button{
    width: 175px;
    height: 46px;
    background-color: #E8C734;
    color: black;
    border: none;
    padding: 10px 30px;
    text-align: center;
}

.column1 {
    float: left;
    width: 30%;
    padding: 10px;
}
.column2 {
    float: right;
    width: 60%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}
footer {
    background-color: #E8C734;
    height:30px;
}
